Repository lightspeedwp/tour-operator, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, dependencies, build, javascript, styles, blocks, integrations, php, tests, tooling

.github/labeler.yml:

# This file configures the 'actions/labeler' GitHub Action.
# It maps labels to file paths. When a pull request modifies a file
# matching a path, the corresponding label is automatically applied.
#
# For more information, see: https://github.com/actions/labeler

# Add 'documentation' label to any PR that changes markdown files or docs.
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'github-actions' label to any PR that changes GitHub Actions workflows.
github-actions:
  - '.github/workflows/*'

# Add 'dependencies' label to any PR that changes dependency management files.
dependencies:
  - 'composer.json'
  - 'composer.lock'
  - 'package.json'
  - 'package-lock.json'

# Add 'build' label for changes to the build process configuration.
# Note: A change to package.json will get both 'dependencies' and 'build' labels.
build:
  - 'webpack.config.js'
  - 'package.json'

# Add 'javascript' label for JS source file changes.
javascript:
  - 'src/js/**/*.js'
  - 'assets/js/**/*.js'
  - 'src/blocks/**/*.js'

# Add 'styles' label for CSS/SASS source file changes.
styles:
  - 'src/css/**/*.scss'
  - 'src/css/**/*.css'
  - 'assets/css/**/*.css'
  - 'src/blocks/**/*.scss'

# Add 'blocks' label for Gutenberg block changes.
blocks:
  - 'src/blocks/**/*'

# Add 'integrations' label for integration-specific changes.
integrations:
  - 'includes/integrations/**/*.php'
  - 'integrations/**/*.php'

# Add 'php' label for general PHP file changes.
php:
  - '**/*.php'

# Add 'tests' label for test file changes.
tests:
  - '**/*_test.php'
  - '**/*Test.php'

# Add 'tooling' label for changes to developer tooling and configuration.
tooling:
  - '.editorconfig'
  - '.eslintrc.js'
  - 'phpcs.xml'

Restricting the read more code.
  build/custom.asset.php
  build/custom.js
  src/js/custom.js
Labels: javascript, php

Fixing the coutnry zoom
  includes/classes/blocks/class-bindings.php
Labels: php

Updating the methodd of capturing the modal button template parts.
  includes/classes/frontend/class-modals.php
Labels: php

allowing the gravity forms script and style.
  includes/classes/frontend/class-modals.php
Labels: php

Adding in a copilot instructions file, with some general WPCS rules.
  .github/instructions-wpcs.md
  copilot.md
Labels: documentation

Updating the instructions files
  .github/instructions-wpcs.md
  copilot.md
Labels: documentation

Testing out the copilot instructions.
  .github/copilot-instructions.md
  includes/template-tags/helpers.php
Labels: documentation, php

Updating the instructions for development and WPCS
  .github/copilot-development-guidelines.md
  .github/copilot-instructions.md
  .github/copilot-wpcs.md
  .github/instructions-wpcs.md
Labels: documentation

Adding in the accommodation cluster for the single destinations.
  includes/classes/blocks/class-bindings.php
Labels: php

Updating the WPCS Links
  .github/copilot-wpcs.md
Labels: documentation

Restoring the dots.
  build/custom.asset.php
  build/custom.js
  src/js/custom.js
Labels: javascript, php

Adding in the title for the travel itinerary
  includes/classes/frontend/class-modals.php
Labels: php

Updating the travel information pattern.
  includes/classes/frontend/class-modals.php
  includes/patterns/travel-information.php
Labels: php

Disabling the facility links.
  changelog.md
  includes/template-tags/general.php
Labels: documentation, php

Refactor integration issue template for clarity
  .github/ISSUE_TEMPLATE/05-integration-issue.md
Labels: documentation

Update refactoring issue template for clarity
  .github/ISSUE_TEMPLATE/08-refactoring-code.md
Labels: documentation

Update 01-bug-report.md
  .github/ISSUE_TEMPLATE/01-bug-report.md
Labels: documentation

Padding for the modal bh-303
  includes/classes/frontend/class-modals.php
Labels: php

Padding for the Travel Information modal.
  build/style-rtl.css
  build/style.asset.php
  build/style.css
  src/css/_modals.scss
Labels: styles, php

Query Block Pagination not Inherting the correct query vars.
  changelog.md
  includes/classes/blocks/class-query-loop.php
Labels: documentation, php

Updating the changelog values
  changelog.md
Labels: documentation

Fixing the tag mismatch
  includes/template-tags/general.php
Labels: php

Removing whitespace
  includes/classes/blocks/class-query-loop.php
Labels: php

Removing the console.log
  src/js/custom.js
Labels: javascript

Add missing meta information, example
  src/blocks/accommodation-related-accommodation/block.json
  src/blocks/accommodation-related-accommodation/index.js
  src/blocks/accommodation-related-destination/block.json
  src/blocks/accommodation-related-destination/index.js
  src/blocks/accommodation-related-tour/block.json
  src/blocks/accommodation-related-tour/index.js
  src/blocks/accommodation-type/block.json
  src/blocks/accommodation-type/index.js
  src/blocks/additional-info/block.json
  src/blocks/additional-info/index.js
  src/blocks/banking/block.json
  src/blocks/banking/index.js
  src/blocks/banner-cover/block.json
  src/blocks/banner-cover/index.js
  src/blocks/best-time-to-visit/block.json
  src/blocks/best-time-to-visit/index.js
  src/blocks/booking-validity-start/block.json
  src/blocks/booking-validity-start/index.js
  src/blocks/checkin-time/block.json
  src/blocks/checkin-time/index.js
  src/blocks/checkout-time/block.json
  src/blocks/checkout-time/index.js
  src/blocks/climate/block.json
  src/blocks/climate/index.js
  src/blocks/cuisine/block.json
  src/blocks/cuisine/index.js
Labels: javascript, blocks

Add missing prettier dependency, improve linting rules
  .eslintrc
  .prettierrc
  package-lock.json
  package.json
Labels: dependencies, build

Add filter for post_thumbnail_id to return placeholder attachment ID when missing
  includes/classes/legacy/class-placeholders.php
Labels: php

Fixing the query loop items.
  includes/classes/blocks/class-query-loop.php
Labels: php

Fixing the saving of a singular item.
  includes/classes/blocks/class-query-loop.php
  includes/classes/legacy/class-admin.php
Labels: php

Fixing the Video gallery padding and styling
  includes/classes/blocks/class-bindings.php
  src/js/custom.js
Labels: javascript, php

Remove duplicate declaration
  build/blocks/safety/index.asset.php
  build/blocks/safety/index.js
  src/blocks/safety/index.js
Labels: javascript, blocks, php

Remove unused parameter
  src/blocks/accommodation-related-accommodation/index.js
Labels: javascript, blocks

Remove unused parameter
  build/blocks/accommodation-related-accommodation/index.asset.php
  build/blocks/accommodation-related-accommodation/index.js
Labels: php

Update changelog
  changelog.md
Labels: documentation

Update src/blocks/facts-country-wrapper/index.js
  src/blocks/facts-country-wrapper/index.js
Labels: javascript, blocks

Update src/blocks/best-time-to-visit/block.json
  src/blocks/best-time-to-visit/block.json
Labels: blocks

Add path_filters to .coderabbit.yaml
  .coderabbit.yaml
Labels: none

Update changelog - Exclude build/ directory from CodeRabbit reviews
  changelog.md
Labels: documentation

614 skip build folder coderabbitai (#620)
  .coderabbit.yaml
  changelog.md
Labels: documentation

Standardize accommodation block metadata and improve example structure
  build/admin.asset.php
  build/blocks/accommodation-related-accommodation/block.json
  build/blocks/accommodation-related-accommodation/index.asset.php
  build/blocks/accommodation-related-accommodation/index.js
  build/blocks/accommodation-related-destination/block.json
  build/blocks/accommodation-related-destination/index.asset.php
  build/blocks/accommodation-related-destination/index.js
  build/blocks/accommodation-related-tour/block.json
  build/blocks/accommodation-related-tour/index.asset.php
  build/blocks/accommodation-related-tour/index.js
  build/blocks/accommodation-type/block.json
  build/blocks/accommodation-type/index.asset.php
  build/blocks/accommodation-type/index.js
  build/blocks/modal-button/block.json
  build/blocks/modal-button/index.asset.php
  build/blocks/modal-button/index.js
  build/custom.asset.php
  build/custom.js
  build/metaboxes.asset.php
  build/style.asset.php
  src/blocks/accommodation-related-accommodation/block.json
  src/blocks/accommodation-related-accommodation/index.js
  src/blocks/accommodation-related-destination/block.json
  src/blocks/accommodation-related-destination/index.js
  src/blocks/accommodation-related-tour/block.json
  src/blocks/accommodation-related-tour/index.js
  src/blocks/accommodation-type/block.json
  src/blocks/accommodation-type/index.js
Labels: javascript, blocks, php
