Repository lightspeedwp/tour-operator, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, dependencies, build, javascript, styles, blocks, integrations, php, tests, tooling

Add REST API endpoint for getting modal template parts, DRY code
  includes/classes/frontend/class-modals.php
Labels: php

Add new block for adding buttons that trigger modals
  includes/blocks/modal-button/block.json
  includes/blocks/modal-button/index.asset.php
  includes/blocks/modal-button/index.js
  includes/blocks/modal-button/package.json
  includes/blocks/modal-button/src/block.json
  includes/blocks/modal-button/src/index.js
Labels: php

Improve modal styles
  assets/css/scss/_modals.scss
  assets/css/style.css
  assets/css/style.css.map
Labels: styles

Adding in the post field support
  includes/classes/admin/class-setup.php
  includes/metaboxes/config-post.php
Labels: php

Updating the changelog.
  changelog.md
Labels: documentation

Update changelog.md
  changelog.md
Labels: documentation

Adding the post to the list of connections to save.
  includes/classes/legacy/class-tour-operator.php
Labels: php

Add modals to travel info pattern
  includes/classes/frontend/class-modals.php
  includes/patterns/travel-information.php
Labels: php

Add possibility to show custom html in modals from modal-button
  includes/blocks/modal-button/block.json
  includes/blocks/modal-button/index.asset.php
  includes/blocks/modal-button/index.js
  includes/blocks/modal-button/src/block.json
  includes/blocks/modal-button/src/index.js
  includes/classes/frontend/class-modals.php
Labels: php

Replace absoslute paths and fix typo
  includes/classes/frontend/class-modals.php
Labels: php

Remove duplicate trigger
  assets/js/src/modals.js
Labels: javascript

Fix semantics and textdomain
  includes/blocks/modal-button/block.json
  includes/blocks/modal-button/index.asset.php
  includes/blocks/modal-button/index.js
  includes/blocks/modal-button/src/block.json
  includes/blocks/modal-button/src/index.js
Labels: php

Fixing the inclusion of the modals.js and rebuilding
  build/blocks/accommodation-related-accommodation/index.asset.php
  build/blocks/climate/index.asset.php
  build/blocks/climate/index.js
  build/blocks/departs-from/index.asset.php
  build/blocks/departs-from/index.js
  build/blocks/destination-to-accommodation/index.asset.php
  build/blocks/dress/index.asset.php
  build/blocks/dress/index.js
  build/blocks/ends-in/index.asset.php
  build/blocks/ends-in/index.js
  build/blocks/facilities/index.asset.php
  build/blocks/facilities/index.js
  build/blocks/facts-country-wrapper/index.asset.php
  build/blocks/facts-regions-wrapper/index.asset.php
  build/blocks/featured-accommodation/index.asset.php
  build/blocks/google-map/index.asset.php
  build/blocks/lsx-destination-to-tour/index.asset.php
  build/blocks/review-related-accommodation/index.asset.php
  build/blocks/suggested-visitor-types/index.asset.php
  build/blocks/tour-related-accommodation/index.asset.php
  build/blocks/wetu-map/index.asset.php
  build/custom.asset.php
  build/custom.js
  build/modals.asset.php
  build/modals.js
  build/style-rtl.css
  build/style.asset.php
  build/style.css
  includes/classes/frontend/class-modals.php
  webpack.config.js
Labels: build, php

Fixing the viewbox attribute, suggested by CodeRabbit
  includes/classes/frontend/class-modals.php
Labels: php

Updated the Gallery render block to return a blank string if the gallery field is empty.
  changelog.md
  includes/classes/blocks/class-bindings.php
Labels: documentation, php

Adding in the videos block
  build/blocks/videos/block.json
  build/blocks/videos/index.asset.php
  build/blocks/videos/index.js
  includes/classes/blocks/class-bindings.php
  src/blocks/videos/block.json
  src/blocks/videos/index.js
Labels: javascript, blocks, php

Adding in the video block.
  includes/classes/blocks/class-bindings.php
Labels: php

Updating the video block to use the embed media CSS
  build/blocks/gallery/index.asset.php
  build/blocks/gallery/index.js
  build/blocks/videos/index.asset.php
  build/blocks/videos/index.js
  includes/classes/blocks/class-bindings.php
  src/blocks/gallery/index.js
  src/blocks/videos/index.js
Labels: javascript, blocks, php

Updating the changelog.
  changelog.md
Labels: documentation

Adding in the slider control along with the code to trigger it.
  build/blocks/videos/block.json
  build/blocks/videos/index.asset.php
  build/blocks/videos/index.js
  build/custom.asset.php
  build/custom.js
  build/style-rtl.css
  build/style.asset.php
  build/style.css
  changelog.md
  includes/classes/blocks/class-bindings.php
  src/blocks/videos/block.json
  src/blocks/videos/index.js
  src/css/_slider.scss
  src/js/custom.js
Labels: documentation, javascript, styles, blocks, php

Removing the link and the target attributes for the video gallery.
  includes/classes/blocks/class-bindings.php
Labels: php

Updating the Internationalized strings for the videos block.
  build/blocks/videos/index.asset.php
  build/blocks/videos/index.js
  src/blocks/videos/index.js
Labels: javascript, blocks, php

Updating the slidertoshow variables.
  src/js/custom.js
Labels: javascript

Applying code rabbit updates to the video gallery
  build/custom.asset.php
  build/custom.js
  src/js/custom.js
Labels: javascript, php

Updating the video mutation
  build/custom.asset.php
  build/custom.js
  src/js/custom.js
Labels: javascript, php

feat: Add Banner Cover block with custom field integration
  includes/classes/blocks/class-bindings.php
  src/blocks/banner-cover/block.json
  src/blocks/banner-cover/index.js
Labels: javascript, blocks, php

Merging the banner updates
  build/blocks/banner-cover/block.json
  build/blocks/banner-cover/index.asset.php
  build/blocks/banner-cover/index.js
  includes/classes/blocks/class-bindings.php
  src/blocks/banner-cover/index.js
Labels: javascript, blocks, php

Adding in the modal button
  build/blocks/modal-button/block.json
  build/blocks/modal-button/index.js
Labels: none

Fixing the missing modal button.
  build/blocks/modal-button/block.json
  build/blocks/modal-button/index.asset.php
  build/blocks/modal-button/index.js
Labels: php

Updating the banner image block with the output function
  build/blocks/banner-cover/block.json
  build/blocks/banner-cover/index.asset.php
  build/blocks/banner-cover/index.js
  build/blocks/modal-button/block.json
  build/blocks/modal-button/index.js
  includes/classes/blocks/class-bindings.php
  src/blocks/banner-cover/block.json
  src/blocks/banner-cover/index.js
Labels: javascript, blocks, php

Updating the banner block to use the banner image id
  includes/classes/blocks/class-bindings.php
Labels: php

Adding the banner image field to the pot type configs.
  includes/metaboxes/config-accommodation.php
  includes/metaboxes/config-destination.php
  includes/metaboxes/config-post.php
  includes/metaboxes/config-tour.php
Labels: php

Adding in the tagline block
  build/blocks/tagline/block.json
  build/blocks/tagline/index.asset.php
  build/blocks/tagline/index.js
  src/blocks/tagline/block.json
  src/blocks/tagline/index.js
Labels: javascript, blocks, php

Adding the post title and tagline to the banner cover block.
  build/blocks/banner-cover/index.asset.php
  build/blocks/banner-cover/index.js
  src/blocks/banner-cover/index.js
Labels: javascript, blocks, php

Allowing the variation hide on the core/paragraph block.
  includes/classes/blocks/class-query-loop.php
Labels: php

Updating the changelog.
  changelog.md
Labels: documentation

Fixing the php notices.
  includes/classes/admin/class-setup.php
Labels: php

Applying the coderabbit adjustments
  includes/classes/blocks/class-bindings.php
Labels: php

Fixing the banner image display.
  includes/metaboxes/config-post.php
Labels: php

Allowing the WETU map block on the single accommodation and destination.
  includes/classes/blocks/class-bindings.php
Labels: php

.github/labeler.yml:

# This file configures the 'actions/labeler' GitHub Action.
# It maps labels to file paths. When a pull request modifies a file
# matching a path, the corresponding label is automatically applied.
#
# For more information, see: https://github.com/actions/labeler

# Add 'documentation' label to any PR that changes markdown files or docs.
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'github-actions' label to any PR that changes GitHub Actions workflows.
github-actions:
  - '.github/workflows/*'

# Add 'dependencies' label to any PR that changes dependency management files.
dependencies:
  - 'composer.json'
  - 'composer.lock'
  - 'package.json'
  - 'package-lock.json'

# Add 'build' label for changes to the build process configuration.
# Note: A change to package.json will get both 'dependencies' and 'build' labels.
build:
  - 'webpack.config.js'
  - 'package.json'

# Add 'javascript' label for JS source file changes.
javascript:
  - 'src/js/**/*.js'
  - 'assets/js/**/*.js'
  - 'src/blocks/**/*.js'

# Add 'styles' label for CSS/SASS source file changes.
styles:
  - 'src/css/**/*.scss'
  - 'src/css/**/*.css'
  - 'assets/css/**/*.css'
  - 'src/blocks/**/*.scss'

# Add 'blocks' label for Gutenberg block changes.
blocks:
  - 'src/blocks/**/*'

# Add 'integrations' label for integration-specific changes.
integrations:
  - 'includes/integrations/**/*.php'
  - 'integrations/**/*.php'

# Add 'php' label for general PHP file changes.
php:
  - '**/*.php'

# Add 'tests' label for test file changes.
tests:
  - '**/*_test.php'
  - '**/*Test.php'

# Add 'tooling' label for changes to developer tooling and configuration.
tooling:
  - '.editorconfig'
  - '.eslintrc.js'
  - 'phpcs.xml'
