Repository lightspeedwp/tour-operator, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, dependencies, build, javascript, styles, blocks, integrations, php, tests, tooling

.github/labeler.yml:

# This file configures the 'actions/labeler' GitHub Action.
# It maps labels to file paths. When a pull request modifies a file
# matching a path, the corresponding label is automatically applied.
#
# For more information, see: https://github.com/actions/labeler

# Add 'documentation' label to any PR that changes markdown files or docs.
documentation:
  - '**/*.md'
  - 'docs/**/*'

# Add 'github-actions' label to any PR that changes GitHub Actions workflows.
github-actions:
  - '.github/workflows/*'

# Add 'dependencies' label to any PR that changes dependency management files.
dependencies:
  - 'composer.json'
  - 'composer.lock'
  - 'package.json'
  - 'package-lock.json'

# Add 'build' label for changes to the build process configuration.
# Note: A change to package.json will get both 'dependencies' and 'build' labels.
build:
  - 'webpack.config.js'
  - 'package.json'

# Add 'javascript' label for JS source file changes.
javascript:
  - 'src/js/**/*.js'
  - 'assets/js/**/*.js'
  - 'src/blocks/**/*.js'

# Add 'styles' label for CSS/SASS source file changes.
styles:
  - 'src/css/**/*.scss'
  - 'src/css/**/*.css'
  - 'assets/css/**/*.css'
  - 'src/blocks/**/*.scss'

# Add 'blocks' label for Gutenberg block changes.
blocks:
  - 'src/blocks/**/*'

# Add 'integrations' label for integration-specific changes.
integrations:
  - 'includes/integrations/**/*.php'
  - 'integrations/**/*.php'

# Add 'php' label for general PHP file changes.
php:
  - '**/*.php'

# Add 'tests' label for test file changes.
tests:
  - '**/*_test.php'
  - '**/*Test.php'

# Add 'tooling' label for changes to developer tooling and configuration.
tooling:
  - '.editorconfig'
  - '.eslintrc.js'
  - 'phpcs.xml'

Update changelog
  changelog.md
Labels: documentation

Delete .github/workflows/stale.yml
  .github/workflows/stale.yml
Labels: github-actions

Remove GitHub Copilot MCP configuration, update README with new structure and features, add scripts for collection management, enhance YAML parsing, and improve VSCode settings for development.
  .github/copilot-mcp-config.json
  .github/prompts/wordpress-hooks.prompt.md
  .github/scripts/create-collection.js
  .github/scripts/update-readme.js
  .github/scripts/validate-collections.js
  .github/scripts/yaml-parser.js
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  AGENTS.md
  README.md
  collections/test-collection.yml
  package.json
Labels: documentation, dependencies, build

Make setup-wp-test-env.sh executable
  bin/setup-wp-test-env.sh
Labels: none

Add run-wp-tests.sh script for WordPress integration testing setup and execution
  .phpunit.result.cache
  .prettierignore
  bin/run-wp-tests.sh
  composer.json
  tests/results/junit.xml
Labels: dependencies

Update configuration and scripts for improved security and testing setup
  .coderabbit.yaml
  .github/instructions/php-wordpress.instructions.md
  .github/linting/.eslintrc.js
  .github/workflows/phpcs.yml
  .vscode/settings.json
  README.md
  bin/install-wp-tests.sh
  bin/run-wp-tests.sh
  bin/setup-wp-test-env.sh
Labels: documentation, github-actions

Adding in security exclusions for the ignore files.
  .distignore
  .gitignore
  .ignore
Labels: none

Enhance check-in and check-out blocks with descriptions, examples, and improved registration logic
  build/blocks/checkin-time/block.json
  build/blocks/checkin-time/index.asset.php
  build/blocks/checkin-time/index.js
  build/blocks/checkout-time/block.json
  build/blocks/checkout-time/index.asset.php
  build/blocks/checkout-time/index.js
  src/blocks/checkin-time/block.json
  src/blocks/checkin-time/index.js
  src/blocks/checkout-time/block.json
  src/blocks/checkout-time/index.js
Labels: javascript, blocks, php

Update check-in and check-out time content to reflect correct times
  build/blocks/checkin-time/block.json
  build/blocks/checkin-time/index.asset.php
  build/blocks/checkin-time/index.js
  build/blocks/checkout-time/block.json
  build/blocks/checkout-time/index.asset.php
  build/blocks/checkout-time/index.js
  src/blocks/checkin-time/block.json
  src/blocks/checkin-time/index.js
  src/blocks/checkout-time/block.json
  src/blocks/checkout-time/index.js
Labels: javascript, blocks, php

Add Slack notification for new pull requests
  .github/workflows/notify-slack.yml
Labels: github-actions

Fix check-in time block variation description and update version number
  build/blocks/checkin-time/index.asset.php
  build/blocks/checkin-time/index.js
  src/blocks/checkin-time/index.js
Labels: javascript, blocks, php
