Repository lightspeedwp/tour-operator, pull requests merged in 2024-12, with the labels that each got.

#450 Beta 2 - Bugfixes Round 3
  assets/css/scss/_icons.scss
  assets/css/scss/_slider.scss
  assets/css/style.css
  assets/css/style.css.map
  assets/js/blocks/general.js
  assets/js/src/custom.js
  includes/classes/admin/class-setup.php
  includes/classes/blocks/class-bindings.php
  includes/classes/blocks/class-registration.php
  includes/classes/legacy/class-accommodation.php
  includes/classes/legacy/class-unit-query.php
  includes/patterns/gallery.php
  includes/patterns/room-card.php
  includes/template-tags/helpers.php
  vendor/cmb-field-select2/cmb-field-select2.php
Labels: [Type] Bug, [Type] Enhancement

#451 2.0 Beta 2
  assets/css/scss/_icons.scss
  assets/css/scss/_slider.scss
  assets/css/scss/style.scss
  assets/css/style.css
  assets/css/style.css.map
  assets/img/rating-star-empty.png
  assets/img/rating-star-full.png
  assets/js/blocks/accommodation.js
  assets/js/blocks/general.js
  assets/js/blocks/tour.js
  assets/js/src/custom.js
  bin/build.command
  includes/actions.php
  includes/classes/admin/class-setup.php
  includes/classes/blocks/class-bindings.php
  includes/classes/blocks/class-registration.php
  includes/classes/blocks/class-templates.php
  includes/classes/class-tour-operator.php
  includes/classes/legacy/class-accommodation.php
  includes/classes/legacy/class-admin.php
  includes/classes/legacy/class-frontend.php
  includes/classes/legacy/class-tour-operator.php
  includes/classes/legacy/class-tour.php
  includes/classes/legacy/class-unit-query.php
  includes/customizer.php
  includes/functions.php
  includes/layout.php
  includes/metaboxes/config-tour.php
  includes/patterns/gallery.php
  includes/patterns/room-card.php
  includes/template-tags/accommodation.php
  includes/template-tags/helpers.php
  post-types/accommodation.json
  post-types/destinations.json
  post-types/tours.json
  readme.txt
  tour-operator-bootstrap.php
  tour-operator.php
  vendor/cmb-field-select2/cmb-field-select2.php
Labels: [Type] Bug, [Type] Enhancement

#452 2.0 beta 3 enhancements 1
  assets/css/scss/_icons.scss
  assets/css/style.css
  assets/css/style.css.map
  assets/js/blocks/general.js
  assets/js/blocks/onsale-query.js
  assets/js/blocks/slider-query.js
  includes/classes/blocks/class-bindings.php
  includes/classes/blocks/class-patterns.php
  includes/classes/blocks/class-registration.php
  includes/classes/legacy/class-accommodation.php
  includes/classes/legacy/class-tour-operator.php
  includes/classes/legacy/class-tour.php
  includes/constants/settings-fields.php
  includes/pages/config-tour-operator.php
  includes/partials/general.php
  includes/partials/navigation.php
  includes/partials/post-type.php
  includes/partials/settings.php
  readme.txt
  vendor/content-models/post-types/accommodation.json
  vendor/content-models/post-types/tour.json
Labels: [Type] Enhancement

#453 Commit of LightBox fixes
  assets/css/style.css
  assets/img/left-arrow-new.svg
  assets/img/left-arrow.svg
  assets/img/right-arrow.svg
Labels: [Type] Bug, [Dev] CSS Styling

#454 Pattern + Block Updates
  assets/img/blocks/drinks.png
  assets/img/blocks/duration.png
  assets/img/blocks/itinerary-accommodation.png
  assets/img/blocks/location.png
  assets/img/blocks/placeholder.png
  assets/img/blocks/rooms.png
  assets/img/blocks/tour-operator-black.svg
  assets/img/blocks/tour-operator-white.svg
  assets/img/blocks/unit-price.png
  assets/img/blocks/unit-type.png
  assets/img/icons/destinations-icon.webp
  assets/img/icons/price-icon.png
  assets/js/blocks/general.js
  includes/patterns/accommodation-card.php
  includes/patterns/destination-card.php
  includes/patterns/itinerary-list.php
  includes/patterns/room-card.php
  includes/patterns/tour-card.php
Labels: [Type] Enhancement

#456 2.0 code cleanup
  assets/img/placeholders/placeholder-post-750x350 copy.jpg
  includes/classes/admin/class-admin.php
  includes/classes/admin/class-settings.php
  includes/classes/blocks/class-bindings.php
  includes/classes/blocks/class-patterns.php
  includes/classes/blocks/class-registration.php
  includes/classes/class-metaboxes.php
  includes/classes/class-share.php
  includes/classes/legacy/class-accommodation.php
  includes/classes/legacy/class-frontend.php
  includes/classes/legacy/class-maps.php
  includes/classes/legacy/class-scpo-engine.php
  includes/classes/legacy/class-tour-operator.php
  includes/classes/legacy/class-tour.php
  includes/partials/help.php
  includes/patterns/accommodation-card.php
  includes/patterns/destination-card.php
  includes/patterns/gallery.php
  includes/patterns/itinerary-list.php
  includes/patterns/room-card.php
  includes/patterns/tour-card.php
  includes/template-tags/accommodation.php
  includes/template-tags/addons.php
  includes/template-tags/destination.php
  includes/template-tags/general.php
  includes/template-tags/helpers.php
  includes/template-tags/tour.php
  includes/template-tags/videos.php
  tour-operator-bootstrap.php
  vendor/cmb2/includes/CMB2.php
Labels: [Type] Enhancement

#457 TO - Additional Info Read More JS
  assets/css/scss/_additional.scss
  assets/css/scss/_slider.scss
  assets/css/style.css
  assets/css/style.css.map
  assets/css/style.scss
  assets/img/left-arrow-dark.svg
  assets/img/right-arrow-dark.svg
  assets/js/src/custom.js
Labels: [Type] Enhancement, [Status] Needs Review, [Dev] CSS Styling, [Feature] Tours

#455 Collapsible Sections
  assets/css/style.css
  assets/img/tick.svg
  assets/js/blocks/accommodation.js
  assets/js/src/custom.js
  includes/patterns/gallery.php
Labels: [Dev] CSS Styling, javascript

#458 Travel Information Slider
  assets/css/scss/_slider.scss
  assets/css/style.css
  assets/css/style.css.map
  assets/js/src/custom.js
  includes/classes/blocks/class-registration.php
  includes/patterns/travel-information.php
  readme.txt
  tour-operator.php
Labels: [Dev] CSS Styling, javascript

#460 Dashicons - Custom Icons for Custom Blocks
  .DS_Store
  assets/img/blocks/Typelocation-icon.png
  assets/img/blocks/accommodation-rooms-icon.png
  assets/img/blocks/accommodation-type.png
  assets/img/blocks/booking-validity.svg
  assets/img/blocks/check-in-check-out-time.svg
  assets/img/blocks/duration.png
  assets/img/blocks/friendly-TO-icon.png
  assets/img/blocks/group-size.svg
  assets/img/blocks/map-TO-icon.png
  assets/img/blocks/minimum-child-age-icon.svg
  assets/img/blocks/rating-icon-TO.png
  assets/img/blocks/single-supplement-icon.svg
  assets/img/blocks/special-interests-icon.svg
  assets/img/blocks/spoken-languages.png
  assets/img/blocks/wetu-map-figme-prototype-image.png
  assets/js/blocks/accommodation.js
  assets/js/blocks/destination.js
  assets/js/blocks/general.js
  assets/js/blocks/query-loops.js
  assets/js/blocks/tour.js
Labels: [Component] Block Variations, [Component] Block Patterns, [Component] Block Settings, javascript

#462 PHPCS Fixes and Collapsable section updates.
  assets/css/scss/_collapse.scss
  assets/css/scss/_update-fixes.scss
  assets/css/scss/layout/_single-sections.scss
  assets/css/style.css
  assets/css/style.css.map
  assets/css/style.scss
  assets/js/blocks/query-loops.js
  assets/js/blocks/tour.js
  assets/js/src/custom.js
  includes/classes/admin/class-settings.php
  includes/classes/blocks/class-registration.php
  includes/classes/legacy/class-admin.php
  includes/classes/legacy/class-maps.php
  includes/classes/legacy/class-tour-operator.php
  includes/partials/navigation.php
  includes/patterns/accommodation-card.php
  includes/patterns/destination-card.php
  includes/patterns/gallery.php
  includes/patterns/itinerary-list.php
  includes/patterns/room-card.php
  includes/patterns/tour-card.php
  includes/patterns/travel-information.php
  includes/template-tags/helpers.php
Labels: [Type] Enhancement

#463 Template updates for Tour Operator Plugin
  .DS_Store
  assets/img/TO-accommodation-rooms-icon-black-52px.png
  assets/img/Typeaccommodation-icon.png
  assets/img/Typecalendar-icon.png
  assets/img/Typelocation-icon.png
  assets/img/Typetours-icon.png
  assets/img/Typetype-icon.png
  assets/img/accommodation-type-TO-icon-black-20px-2.png
  assets/img/accommodation-type-TO-icon-black-20px.png
  assets/img/best-months-to-travel-TO-icon-black-20px-1-1.png
  assets/img/best-months-to-travel-TO-icon-black-20px.png
  assets/img/booking-validity-icon-black-52px-1.svg
  assets/img/check-in-check-out-time-icon-black-52px-1.svg
  assets/img/dates-travelled-icon-black-20px.png
  assets/img/destinations-icon-black-20px.png
  assets/img/duration-TO-black-20px-icon.png
  assets/img/duration-icon-black-20px.png
  assets/img/friendly-TO-icon-black-20px-1.png
  assets/img/from-price-TO-icon-black-20px-1.png
  assets/img/from-price-TO-icon-black-20px.png
  assets/img/group-size-icon-black-52px-1.svg
  assets/img/image-1.png
  assets/img/map-TO-black-20px-icon.png
  assets/img/map-TO-icon-black-20px.png
  assets/img/minimum-child-age-icon-black-52px-1.svg
  assets/img/rating-icon-TO-black-20px-1.png
  assets/img/review-testominal-quote-mark-TO-tertiary-32px.png
  assets/img/single-supplement-icon-black-52px-1.svg
  assets/img/special-interests-icon-black-52px-1.svg
  assets/img/spoken-languages-TO-icon-black-20px-1.png
  assets/img/type-icon-black-20px.png
  templates/archive-accommodation.html
  templates/archive-destination.html
  templates/archive-review.html
  templates/archive-tour.html
  templates/archive-travel-style.html
  templates/archive.html
  templates/index.html
  templates/no-title.html
  templates/pages.html
  templates/search-results.html
  templates/single-accommodation.html
  templates/single-country.html
  templates/single-destination.html
  templates/single-region.html
  templates/single-review.html
  templates/single-tour.html
Labels: [Component] Block Templates
