Repository lightspeedwp/tour-operator, pull requests merged in 2024-10, with the labels that each got.

#421 2.0.0 - Post Meta Updates + Price Block Variation
  assets/js/blocks/variations.js
  includes/classes/blocks/class-variations.php
  includes/classes/class-tour-operator.php
  includes/classes/legacy/class-tour-operator.php
  includes/classes/legacy/class-tour.php
  includes/functions.php
  includes/layout.php
  includes/metaboxes/config-destination.php
  includes/metaboxes/config-tour.php
  includes/template-tags/general.php
Labels: [Component] Block Variations

#423 Create Content Model integration.
  .DS_Store
  .gitignore
  includes/classes/admin/class-admin.php
  includes/classes/admin/class-pages.php
  includes/classes/admin/class-setup.php
  includes/classes/class-post-types.php
  includes/classes/class-tour-operator.php
  includes/metaboxes/config-accommodation.php
  includes/metaboxes/config-destination.php
  includes/metaboxes/config-tour.php
  includes/post-types/config-accommodation.php
  includes/post-types/config-destination.php
  includes/post-types/config-tour.php
  tour-operator-bootstrap.php
  vendor/.DS_Store
  vendor/content-models/create-content-model.php
  vendor/content-models/includes/json-initializer/0-load.php
  vendor/content-models/includes/json-initializer/class-content-model-json-initializer.php
  vendor/content-models/includes/runtime/0-load.php
  vendor/content-models/includes/runtime/class-content-model-block.php
  vendor/content-models/includes/runtime/class-content-model-data-hydrator.php
  vendor/content-models/includes/runtime/class-content-model-html-manipulator.php
  vendor/content-models/includes/runtime/class-content-model-manager.php
  vendor/content-models/includes/runtime/class-content-model.php
  vendor/content-models/includes/runtime/dist/data-entry.asset.php
  vendor/content-models/includes/runtime/dist/data-entry.js
  vendor/content-models/includes/runtime/dist/templating.asset.php
  vendor/content-models/includes/runtime/dist/templating.js
  vendor/content-models/includes/runtime/helpers.php
  vendor/content-models/post-types/accommodation.json
  vendor/content-models/post-types/destination.json
  vendor/content-models/post-types/tour.json
Labels: [Status] In Progress, [Component] Editor

#427 2.0-Registering-Block-Templates
  includes/classes/blocks/class-templates.php
  templates/archive-accommodation.html
  templates/archive-destination.html
  templates/archive-tour.html
  templates/archive.html
  templates/index.html
  templates/no-title.html
  templates/pages.html
  templates/search-results.html
  templates/single-accommodation.html
  templates/single-country.html
  templates/single-destination.html
  templates/single-region.html
  templates/single-tour.html
Labels: [Component] Block Templates

#428 Add link capability to Cover block
  assets/js/blocks/linked-cover.js
  includes/classes/blocks/class-variations.php
  src/init.php
Labels: [Component] Block Variations

#429 2.0/bug fixes
  assets/js/src/admin.js
  includes/classes/admin/class-admin.php
  includes/classes/blocks/class-registration.php
  includes/classes/class-tour-operator.php
  includes/classes/legacy/class-admin.php
  src/blocks.js
  src/blocks/block-post-types/index.js
  src/blocks/block-post-types/styles/editor.scss
  src/blocks/block-post-types/styles/style.scss
  src/blocks/block-taxonomy/index.js
  src/blocks/block-taxonomy/styles/editor.scss
  src/blocks/block-taxonomy/styles/style.scss
  src/common.scss
  src/init.php
  tour-operator.php
  vendor/content-models/includes/json-initializer/class-content-model-json-initializer.php
  vendor/content-models/includes/runtime/class-content-model.php
  vendor/content-models/post-types/accommodation.json
Labels: [Type] Bug, [Status] Needs Review

#430 2.0 - block visibility
  includes/classes/blocks/class-registration.php
  includes/classes/legacy/class-tour.php
  includes/metaboxes/config-accommodation.php
  includes/metaboxes/config-tour.php
  vendor/content-models/includes/runtime/class-content-model.php
Labels: [Dev] PHP, [Component] Editor
