Repository lightspeedwp/tour-operator, pull requests merged in 2025-08, with the labels that each got.

#577 #556 update phpcs gitignore
  .gitignore
  .phpcs.xml
  changelog.md
  composer.json
  composer.lock
  package.json
Labels: [Type] Enhancement, [Type] Code Quality

#580 #568 add issue templates master
  .github/ISSUE_TEMPLATE/01-bug-report.md
  .github/ISSUE_TEMPLATE/02-feature-request.md
  .github/ISSUE_TEMPLATE/03-docs-request.md
  .github/ISSUE_TEMPLATE/04-general-question.md
  .github/ISSUE_TEMPLATE/05-integration-issue.md
  .github/ISSUE_TEMPLATE/06-performance-issue.md
  .github/ISSUE_TEMPLATE/07-user-experience-feedback.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: [Type] Enhancement

#596 Adding in the post field support
  changelog.md
  includes/classes/admin/class-setup.php
  includes/classes/legacy/class-tour-operator.php
  includes/metaboxes/config-post.php
Labels: Enhancement

#604 [Feature] Add Banner Cover Block
  build/blocks/banner-cover/block.json
  build/blocks/banner-cover/index.asset.php
  build/blocks/banner-cover/index.js
  build/blocks/tagline/block.json
  build/blocks/tagline/index.asset.php
  build/blocks/tagline/index.js
  changelog.md
  includes/classes/admin/class-setup.php
  includes/classes/blocks/class-bindings.php
  includes/classes/blocks/class-query-loop.php
  includes/metaboxes/config-accommodation.php
  includes/metaboxes/config-destination.php
  includes/metaboxes/config-post.php
  includes/metaboxes/config-tour.php
  src/blocks/banner-cover/block.json
  src/blocks/banner-cover/index.js
  src/blocks/tagline/block.json
  src/blocks/tagline/index.js
Labels: Enhancement, 2.1.0, Tour Operator
