Repository lightspeedwp/tour-operator, pull requests merged in 2025-01, with the labels that each got.

#465 2.0.1 travel info modals
  assets/css/scss/_modals.scss
  assets/css/style.css
  assets/css/style.css.map
  assets/css/style.scss
  assets/js/src/custom.js
  includes/classes/legacy/class-destination.php
Labels: [Type] Enhancement

#466 2.0.1 Parents only query args
  assets/js/blocks/slider-query.js
  changelog.md
  includes/classes/admin/class-admin.php
  includes/classes/blocks/class-registration.php
  includes/classes/blocks/class-templates.php
  includes/classes/legacy/class-destination.php
  includes/classes/legacy/class-frontend.php
  package.json
  readme.txt
  templates/archive-destination.html
  tour-operator.php
Labels: [Type] Enhancement

#476 2.0.1 related connection fixes
  changelog.md
  includes/classes/class-post-connections.php
  includes/classes/legacy/class-admin.php
  vendor/cmb2/includes/CMB2_Field.php
Labels: [Type] Bug

#478 Commit of Template updates - Google Maps block
  templates/archive-destination.html
  templates/single-accommodation.html
  templates/single-country.html
  templates/single-destination.html
  templates/single-region.html
  templates/single-tour.html
Labels: [Type] Enhancement, [Component] Block Templates, [Component] Block Patterns
